<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Homework!</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" th:href="@{stylesheet.css}"/>
</head>
<body bgcolor="#008b8b">
<h1>Homework rocks</h1>
<h2>Homework time</h2>
<h3>Oh yeah, homework</h3>
<h4>Just when you think your homework is done....</h4>
<h5>...more homework.</h5>
<p th:text="${trueorfalse}">I like to eat Doritos while doing my homework.</p>
<div><img src="http://coolwallpaperz.info/user-content/uploads/wall/o/10/most-best-in-anime-beautiful-free-cool-2010716.jpg"
     width="600" height="400" alt="Homework on acid"/></div>
<img th:src="@{'sphere.jpg'}" src="../static/sphere.jpg" width="500" height="300" alt="Touch it" />
<iframe src="http://free.timeanddate.com/clock/i5o69bva/n207/szw110/szh110/hoc00f/hbw0/hfc000/cf100/hgr0/facf90/mqcfff/mql6/mqw2/mqd74/mhcfff/mhl6/mhw1/mhd74/mmcf90/mml4/mmw1/mmd74/hhcfff/hmcfff" frameborder="0" width="110" height="110"></iframe>
<div>  </div>
<span> words </span>
<div align="left"> <script type="text/javascript" src="http://100widgets.com/js_data.php?id=263"></script></div>

<script type="text/javascript" src="http://100widgets.com/js_data.php?id=276"></script>

<script type="text/javascript" src="http://100widgets.com/js_data.php?id=66"></script>
<div>
<script id="player_type" language="javascript" type="text/javascript">
    var player_id=6;
    var soundimage_player_start = 1;
    document.write('<div id="soundimage_holder'+player_id+'" align="center"/>');
    document.write('<div id="soundimage_player_main'+player_id+'"></div>');
    document.write('<a id="soundimage_player_links'+player_id+'" href="http://www.soundimage.eu/" target="_blank" title="Royalty Free Music">Royalty Free Music</a>');
</script>
<script id="player_script" th:src="@{'http://www.soundimage.pl/freemusic/soundimage_player_en2.js'}" src="http://www.soundimage.pl/freemusic/soundimage_player_en2.js" language="javascript" type="text/javascript"></script>
    <img th:src="@{'http://cdn2-www.craveonline.com/assets/mandatory/legacy/2016/05/man_file_1067266_61232550737_predatorduckhunt1.gif'}" src="http://cdn2-www.craveonline.com/assets/mandatory/legacy/2016/05/man_file_1067266_61232550737_predatorduckhunt1.gif"/>
</div>
</body>
</html>